@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --htmlcolor: rgba(255, 76, 30, 0.1);
  --cssColor: rgba(0, 77, 230, 0.1);
  --jscolor: rgba(255, 223, 0, 0.1);
  --footerColor: rgba(13, 19, 33, 0.1);
  --webDevBackground: rgba(13, 19, 33, 0.02);
  --whitecolor: rgba(255, 255, 255, 0.4);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Azeret Mono", sans-serif;
  line-height: 1.5;
  font-size: 16px; */
  font: 16px/1.5 "Azeret Mono", sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 0 30px; */
}

/* Shared styles */
.btn-primary {
  color: #0d1321;
  padding: 17px 24px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 8px;
  text-transform: capitalize;
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.btn-secondary {
  color: #ffffff;
  background: #0d1321;
  font-size: 1.2rem;
  font-weight: 300;
}

.common-contents {
  text-align: center;
  line-height: 2rem;
  /* margin: 0 97px; */
}

/* Nav Menu */

.nav-section {
  /* border: 2px solid salmon; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 38px 0px;
}

/* Hero Section starts*/
#hero-section {
  background: url(/assets/Hero-bg.png) no-repeat center center;
  background-size: cover;
  object-fit: fill;
  min-height: 500px;
  margin-bottom: 25px;
}

.hero-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.hero-section-content img,
.hero-section-content h1,
.hero-section-content p {
  margin-bottom: 24px;
}
/* Hero Section ends */

/* web-developemnt-section Start */
.web-dev-title {
  margin-bottom: 48px;
}

.web-developemnt-section {
  /* border: 2px solid sandybrown; */
  min-height: 1093px;
  padding: 50px;
  text-align: center;
  line-height: 2rem;
  background: var(--webDevBackground);
  border-radius: 16px;
  margin-bottom: 40px;
}

.web-developemnt-section .cards {
  /* border: 1px solid black; */

  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
}
.web-developemnt-section .cards:nth-of-type(3) {
  /* display: flex; */
  flex-direction: row-reverse;
}

.left-align,
.right-align {
  padding: 48px;
  /* background: var(--whitecolor) linear-gradient(t--whitecolor, #ffffff49); */
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(245, 245, 245, 0.7674126059322034) 35%,
    rgba(255, 255, 255, 0.1) 100%
  );
  margin-bottom: 32px;
  border-radius: 16px;
}

.right-content {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(245, 245, 245, 0.7674126059322034) 35%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

@media screen and (max-width: 600px) {
  .web-developemnt-section .cards {
    flex-direction: column;
    text-align: center;
    line-height: 2rem;
    padding: 10px;
  }
  .web-developemnt-section .cards:nth-of-type(2) {
    /* display: flex; */
    flex-direction: column;
  }
}

/* web-developemnt-section end */

/* inspiration-section Start */
.inspiration-section {
  /* border: 1px solid red; */
  height: 600px;
  text-align: center;
  margin-bottom: 150px;
}

.inspiraton-video-link {
  height: 500px;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 1.5rem;
  position: relative;
}
.inspiraton-video-link .iframe {
  display: block;
  overflow: hidden;
  padding: 32px;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem !important;
  transform: translateZ(0px);
  border: 3px solid #eee;
}

.inspiration-content {
  margin: 0 144px 48px;
}
.inspiration-content h2 {
  margin-bottom: 20px;
}

/* inspiration-section End */

/* <!-- My Current Target start --> */
.current-target-section {
  min-height: 260px;
  /* border: 1px solid salmon; */
  margin-bottom: 100px;
}

.target-section-language {
  min-height: 200px;
  /* border: 1px solid black; */
  margin-top: 60px;
  display: flex;
  gap: 20px;
  text-align: left;
}

.tech-section {
  /* border: 2px solid green; */
  padding: 20px;
  border-radius: 8px;
}
.tech-section:nth-of-type(1) {
  /* border: 2px solid green; */
  background: var(--htmlcolor);
}
.tech-section:nth-of-type(2) {
  /* border: 2px solid green; */
  background: var(--cssColor);
}
.tech-section:nth-of-type(3) {
  /* border: 2px solid green; */
  background: var(--jscolor);
}

@media screen and (max-width: 600px) {
  .target-section-language {
    flex-direction: column;
  }
}

/* <!-- My current Target Ends --> */

/* <!-- My next Target Start Here --> */

.next-tartget-content {
  min-height: 705px;
  /* border: 2px solid salmon; */
  margin-bottom: 45px;
}

.node-target-content,
.mongodb-target-content,
.react-target-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 220px;
  display: flex;
  gap: 40px;
  padding: 40px;
  margin-bottom: 24px;
  border-radius: 16px;
}

.node-target-content img,
.mongodb-target-content img,
.react-target-content img {
  width: 95px;
  height: 85px;
}
.next-target-content {
  margin-bottom: 30px;
}

/* <!-- My next Target End Here --> */

/* <!-- Support section start --> */
.support-content {
  color: #eee;
  min-height: 285px;
  border-radius: 16px;
  background: url(/assets/handshake.jpg) no-repeat center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin-bottom: 80px;
  background-blend-mode: overlay;
}
.support-text-input {
  margin-top: 50px;
}
input[type="text"] {
  width: 400px;
  height: 43px;
  padding-left: 15px;
}

.footer-btn {
  width: 90px;
  height: 41px;
  font-weight: 500;
  font-size: 20px;
}
/* <!-- Support section end --> */

/* Footer section */
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer {
  min-height: 50px;
  background: var(--footerColor);
  padding: 12px 0;
}
.footer-section a {
  text-decoration: none;
  cursor: pointer;
}
