@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Azeret Mono", sans-serif;
  line-height: 1.5;
  font-size: 16px; */
  font: 16px/1.5 "Azeret Mono", sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 0 30px; */
}

/* Shared styles */
.btn-primary {
  color: #0d1321;
  padding: 17px 24px;
  border: 1px solid #0d1321;
  border-radius: 8px;
  text-transform: capitalize;
  line-height: 1.2rem;
}

/* Nav Menu */

/* nav {
  color: #0d1321;
  padding-top: 38px 150px;
  min-height: 131px;
  font-size: 1rem;
} */

/* nav a {
  color: #0d1321;
  text-decoration: none;
  text-transform: capitalize;
} */

/* nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
} */

.nav-section {
  /* border: 2px solid salmon; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 38px 0px;
}

/* Hero Section starts*/
#hero-section {
  background: url(/assets/Hero-bg.png) no-repeat center center;
  background-size: cover;
  object-fit: fill;
  min-height: 450px;
  margin-bottom: 25px;
}

.hero-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Hero Section ends */

/* web-developemnt-section Start */

.web-developemnt-section {
  border: 2px solid sandybrown;
  min-height: 1093px;
  padding: 80px auto;
  text-align: center;
  line-height: 2rem;
}

.web-developemnt-section .cards {
  border: 1px solid black;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.web-developemnt-section .cards:nth-of-type(2) {
  /* display: flex; */
  flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
  .web-developemnt-section .cards {
    flex-direction: column;
  }
  .web-developemnt-section .cards:nth-of-type(2) {
    /* display: flex; */
    flex-direction: column;
  }
}

/* web-developemnt-section end */
